@use "~@wordpress/base-styles/mixins" as wp-mixins;
@use "~@wordpress/base-styles/variables" as wp-vars;

.newspack-wizard {
	&__snackbar-list {
		@include wp-mixins.snackbar-container();
		gap: wp-vars.$grid-unit-10;
		z-index: 99999;
	}

	&__snackbar {
		a,
		.components-button.is-link {
			color: var(--newspack-ui-color-neutral-0);
			cursor: pointer;
			margin-left: 16px;
			&:hover,
			&:focus {
				color: var(--newspack-ui-color-neutral-10);
			}
		}
	}
}
